[Unit]
Description=E-Paper Bitcoin Price Ticker
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/e-paper
ExecStart=/home/pi/e-paper/.venv/bin/python -m epaper
Restart=on-failure
RestartSec=10
Type=notify
WatchdogSec=60
NotifyAccess=main

[Install]
WantedBy=multi-user.target
